{% extends "main.html" %}
    {% block content %}
    <p>{{request.user}} <a href="{% url "logout" %}">Logout</a></p>

        {% comment %} <div class="home">
            <p><a href="{% url "request_blood" %}">Submit New request</a></p>
            <p><a href="{% url "patient_history" %}">View request history</a> </p>
            <p><a href="{% url "profile" %}">Edit my info</a> </p>
        </div> {% endcomment %}
        

        <p>PATEINT</p>
        <p>PATEINT</p>
        <p>PATEINT</p>
        <p>PATEINT</p>
        <p>PATEINT</p>
   
{% endblock content %}