
{% extends "main.html" %}
    {% block content %}
    <h1>Your profile</h1>
    <h4>All about you</h4>
    <form action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}

        


        <p>Patient name {{userForm.name}}</p>
        <p>Profile pic {{profileForm.profile_pic}}</p>
        <p>phone {{userForm.phone}}</p>
        <p>email {{userForm.email}}</p>
        <p>bloodgroup {{profileForm.bloodgroup}}</p>
        <p>langauge {{profileForm.langauge}}</p>
        <p>address {{profileForm.address}}</p>
        <p>city {{profileForm.city}}</p>
        <p>country {{profileForm.country}}</p>

        <input type="submit" value="Save">
    </form>

    <a href="{% url "home" %}">Back to Home</a>
    {% endblock content %}