{% extends "main.html" %}
{% block content %}
    <div class="home">
        <form action="" method="post">
            {% csrf_token %}
            {% if page == "login" %}
                <h1>Login</h1>
                  <label for="email">Email:</label>
                    <input id="email" name="email" class="email" type="email" />

                    <label for="password">Password:</label>
                    <input type="password" name="password" class="password" id="password" />
                    <input type="submit" value="Login" />

                    <p>Don't have an account <a href=" {% url "registration" %}">Register</a></p>
                    
                
                {% comment %} {% for message in messages %}
                    {{message}}
                {% endfor %} {% endcomment %}


            {% else %} 
                <h1>Registration</h1>
                {{form.as_p}}

                {% comment %} {{form.errors}} {% endcomment %}
                
                <input type="submit" value="Next">
                <p>Already have an account <a href=" {% url "login" %}">Login</a></p>

            {% endif %}
            
        </form>

        <p>OR</p>

        {% comment %} DOnt run like you are being chased, run like you want to cross the finishing line first {% endcomment %}
        {% comment %} {% providers_media_js %} {% endcomment %}

        {% load socialaccount %}

        
        <a href="{% provider_login_url 'google' %}">Google</a>


         {% comment %} <p> <a href="{% provider_login_url 'google' %}">Login with Google</a></p>
         <p> <a href="{% provider_login_url 'google' process='connect' %}">Login with Google</a></p> {% endcomment %}
         <p> <a href="{% provider_login_url 'apple' %}">Apple</a></p>
         <p> <a href="{% provider_login_url 'facebook' %}">Facebook</a></p>

    </div>
{% endblock content %}




{% comment %} 
{% extends "main.html" %}

    {% block content %}
        <form action="" method="post">

            {% if page == 'login' %}

            {% csrf_token %}
            {{form.as_p}}
            <input type="button" value="Login">
            {% else %}

            {% csrf_token %}
            {{form.as_p}}
            <input type="button" value="Register">

            {% endif %}

        </form>

    {% endblock content %}
 {% endcomment %}