

{% extends "main.html" %}
    {% block content %}
 <h1> Notifications</h1>
 <h4>Discover who is a match  with you</h4>

 <ul>

   <li >
      <a class="grid grid-template--3" href=" {% url "blood_match_success" %}">
      <img src="https://miskaclinic.netlify.app/imgs/profiles/prof5.webp" alt="Profile pic">
      <p><span>You have a blood match</span> <br><span>Contact your doctor for more information</span></p>
      <p>2 mins ago</p>
      </a>
   </li>

   <li >
      <a class="grid grid-template--3" href=" {% url "blood_match_success" %}">
      <img src="https://miskaclinic.netlify.app/imgs/profiles/prof5.webp" alt="Profile pic">
      <p><span>You have a blood match</span> <br><span>Contact your doctor for more information</span></p>
      <p>2 mins ago</p>
      </a>
   </li>

   <li >
      <a class="grid grid-template--3" href=" {% url "blood_match_success" %}">
      <img src="https://miskaclinic.netlify.app/imgs/profiles/prof5.webp" alt="Profile pic">
      <p><span>You have a blood match</span> <br><span>Contact your doctor for more information</span></p>
      <p>2 mins ago</p>
      </a>
   </li>
 </ul>
    {% endblock content %}