
{% extends "main.html" %}


    {% block content %}
    <h1>Your profile</h1>
    <h4>All about you</h4>

        <div style='max-width: 4rem; max-height: 4rem;' class="profile_pic" >
            <img src="{{request.user.profile.profile_pic.url}}" alt="Profile pic">
        </div>
        <p>Patient name {{profile.name}}</p>
        <p>phone {{profile.phone}}</p>
        <p>email {{profile.email}}</p>
        <p>bloodgroup {{profile.bloodgroup}}</p>
        <p>langauge {{profile.langauge}}</p>
        <p>address {{profile.address}}</p>
        <p>city {{profile.city}}</p>
        <p>country {{profile.country}}</p>
        
    <p><a href="{% url "editprofile" %}">Edit profile</a></p>
    
    <p><a href="#">Share feedback</a></p>
    
    {% endblock content %}