
{% extends "main.html" %}


    {% block content %}
    <h1>Your profile</h1>
    <h4>All about you</h4>

        <div style='max-width: 4rem; max-height: 4rem;' class="profile_pic" >
            <img src="{{request.user.profile.profile_pic.url}}" alt="Profile pic">
        </div>
        <p>Patient name: {{user.name}}</p>
        <p>phone: {{user.phone}}</p>
        <p>email: {{user.email}}</p>
        <p>bloodgroup: {{user.profile.bloodgroup}}</p>
        <p>langauge: {{user.profile.langauge}}</p>
        <p>address: {{user.profile.address}}</p>
        <p>city: {{user.profile.city}}</p>
        <p>country: {{user.profile.country}}</p>
        
    <p><a href="{% url "editprofile" %}">Edit profile</a></p>
    
    <p><a href="#">Share feedback</a></p>
    
    {% endblock content %}